body {
  font-family: sans-serif;
  line-height: 1.4;
}
header, nav, section, aside, footer {padding:1em;}
header {background: #fff;}
footer {background: #eee; 
  // position:static; top:auto; right:0; bottom: 0; left:0;
}
section, aside {}
article {padding:1em; margin:0;}
table {width:100%;}
tr {}
th, td {}
pre {overflow: hidden;text-align: left;}
a {color: #00f;text-decoration: none;}
ul, ol, dl {
  width:100%;
  text-indent:0; 
  padding:0; margin:0;
  list-style-position:inside;
  clear: both;
  display: block;
}
li, dt, dd {padding:0.125em; margin:0.125em; text-indent:0;}
ul {
  li {}
}
ol {
  li {}
}
dl {
  background:#ffe;
  dt {font-weight:900;background:#eff;}
  dd {font-weight:100;background:#fef;text-indent:1em;}
}
hr {margin:1em 0;}
nav {
  background: #abc;
  box-shadow: 0 1.5em 1.5em -1em rgba(0,0,0,0.25) inset;
  border-top: 1px solid #ccc;
  padding:0.5em 1em 0; margin:0 -1em -1em;
  clear:both;
  ul {
    padding:0; margin:0;
    display: block;
    li {
      padding:0 0.125em 0 0; margin:0 0.125em 0 0;
      display: inline-block;
      list-style:none;
      text-align:center;
      a, .navLink {
        padding:0.75em 1em 0.5em;
        margin:0;
        display:block;
        background:#eee;
        // border: 1px rgba(0,0,0,0.25) solid;
        border-bottom: none;
        border-radius: 0.25em 0.25em 0 0;
        box-shadow: 0 -0.5em 1em -0.5em rgba(0,0,0,0.125) inset;
      }
      .active {background:#fff; border:none;
        box-shadow:none;
      }
    }
  }
}
.meat {background:rgba(255,0,0,0.125);}
.veggie {background:rgba(0,127,0,0.125);}
.dairy {background:rgba(255,255,0,0.125);}
.disabled {
  opacity:0.5;
  // a, .navLink {background:#999; color:#333;}
}
.align{
  &.left{text-align: left;}
  &.right{text-align: right;}
  &.center{text-align: center;}
}
.float{
  display: inline-block;
  width: auto;
  &.left{float: left;}
  &.right{float: right;}
  &.center{float: center;}
}
ul{
  &.sorting {
    list-style-type: none;
    padding: 0.5em 0;
    li {
      display: inline;
      a {}
    }
  }
}
.btn {
  background: #eee;
  border-radius: 0.25em;
  padding:0.25em 0.75em;
}
.icon {
  a:after {content:"\02195";}
  &.arrow {
    &.up {a:after {content:"\025B3";}}
    &.down {a:after {content:"\025BD";}}
  }
}