header, nav, section, aside, footer {margin:1em;}
section, aside {
	/*width:50%; float:left; margin:0;*/
}
article {padding:1em; margin:0;}
ul, ol, dl {
	text-indent: 1em; list-style-position: inside;
}
li {}
ul {
	li {}
}
ol {
	li {}
}
dl {
	background:#ffe;
	dt {font-weight:900;background:#eff;}
	dd {font-weight:100;background:#fef;}
}
hr {margin:1em 0;}
nav {
	clear:both;
	ul {
		clear:both;
		width:100%;
		li {
			float:left;
			list-style:none;
			width:20%;
			text-align:center;
			a {
				padding:1em;
			}
		}
	}
}
.meat {background:rgba(255,0,0,0.25);}
.veggie {background:rgba(0,127,0,0.25);}
.dairy {background:rgba(255,255,0,0.25);}