*,
*:before,
*:after {
  box-sizing: border-box;
}
label,
input {
  line-height: 1.4;
}
label input[type=checkbox],
label input[type=radio] {
  float: left;
  padding: 0;
  margin: 0.25em 0.5em;
  background: yellow;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
  color: #666;
}
header,
nav,
section,
aside,
footer {
  padding: 1em;
}
header {
  background: #eee;
}
footer {
  background: #eee;
}
article {
  padding: 1em;
  margin: 0;
}
table {
  width: 100%;
  margin: 0.25em 0;
  border-collapse: collapse;
  border-spacing: 0;
}
caption {
  position: relative;
}
th,
td {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 0.125em;
}
th {
  font-weight: 100;
  /*border-bottom: 2px solid #ccc;*/
  /*border-top: 2px solid #ccc;*/
  background: #ccc;
  color: #333;
  padding: 0.5em 0;
}
pre {
  overflow: hidden;
  text-align: left;
}
a {
  color: #00f;
  text-decoration: none;
}
ul,
ol,
dl {
  width: 100%;
  text-indent: 0;
  padding: 0;
  margin: 0;
  list-style-position: inside;
  clear: both;
  display: block;
}
li,
dt,
dd {
  padding: 0.125em;
  margin: 0.125em;
  text-indent: 0;
}
dl {
  background: #ffe;
}
dl dt {
  font-weight: 900;
  background: #eff;
}
dl dd {
  font-weight: 100;
  background: #fef;
  text-indent: 1em;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
  border-bottom: 4px solid #ccc;
  display: none;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.1em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.9em;
}
hr {
  margin: 1em 0;
}
.title {
  text-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.5);
}
.header {
  background: #abc;
  box-shadow: 0 1.5em 1.5em -1em rgba(0, 0, 0, 0.25) inset;
}
.header h1 {
  color: #fff;
}
.nav,
.subnav {
  background: #abc;
  padding: 0.5em 1em 0;
  margin: 0 -1em -1em;
  clear: both;
}
.nav ul,
.subnav ul {
  padding: 0;
  margin: 0;
  display: block;
}
.nav ul li,
.subnav ul li {
  padding: 0 0.125em 0 0;
  margin: 0 0.125em 0 0;
  display: inline-block;
  list-style: none;
  text-align: center;
}
.nav ul li a,
.subnav ul li a,
.nav ul li .navLink,
.subnav ul li .navLink {
  padding: 0.75em 1em 0.5em;
  margin: 0;
  display: block;
  background: #eee;
  border-radius: 0.25em 0.25em 0 0;
  box-shadow: 0 -0.5em 1em -0.5em rgba(0, 0, 0, 0.125) inset;
}
.nav ul li .active,
.subnav ul li .active {
  background: #fff;
  border: none;
  box-shadow: none;
}
.subnav {
  background: transparent;
  padding: 0;
  margin: -1em -1em 1em;
  clear: both;
}
.subnav ul li a,
.subnav ul li .navLink {
  background: #eee;
  border-radius: 0.25em;
}
.subnav ul li .active {
  background: #000;
  color: #fff;
  border: none;
  box-shadow: none;
}
.meat .type:after,
.veggie .type:after,
.dairy .type:after {
  content: "";
  float: left;
  color: #fff;
  border-radius: 1em;
  padding: 0.25em;
  margin: 0 0.5em;
  min-width: 1.5em;
  min-height: 1.5em;
  text-align: center;
  line-height: 1;
}
.meat .type:after {
  background: rgba(153, 0, 0, 0.5);
}
.veggie .type:after {
  background: rgba(0, 51, 0, 0.5);
}
.dairy .type:after {
  background: rgba(153, 102, 0, 0.5);
}
.disabled {
  opacity: 0.5;
}
.align.left {
  text-align: left;
}
.align.right {
  text-align: right;
}
.align.center {
  text-align: center;
}
.float {
  display: inline-block;
  width: auto;
}
.float.left {
  float: left;
}
.float.right {
  float: right;
}
.float.center {
  float: center;
}
.sorting {
  /*float: right;*/
  /*background: rgba(255,255,255,0.5);*/
  /*border-radius: 0.5em;*/
  /*border: 1px solid #ccc;*/
}
.sorting ul {
  list-style-type: none;
}
.sorting ul li {
  display: inline;
}
.btn {
  clear: both;
  display: inline-block;
  background: #eee;
  border-radius: 0.25em;
  padding: 0.25em 0.75em;
}
.icon a:after {
  content: "\02195";
}
.icon.arrow.up a:after {
  content: "\025B3";
}
.icon.arrow.down a:after {
  content: "\025BD";
}
label {
  display: inline-block;
  padding: 0.25em;
  padding-right: 1em;
}
.topping-left,
.topping-right {
  white-space: nowrap;
}
.topping-left.active label,
.topping-right.active label {
  background: #789;
  color: #fff;
  border: none;
  border-radius: 0.25em;
  box-shadow: none;
}
/* semi-circle icons... */
.light {
  font-weight: 100;
}
.pos-rel {
  position: relative;
}
.pos-sta {
  position: static;
}
.pos-abs {
  position: absolute;
}
.pos-fix {
  position: fixed;
}
.subtotal {
  background: #f8f8f8;
}
.total {
  background: #eee;
  font-weight: 900;
}
.discount {
  background: rgba(0, 204, 0, 0.75);
  color: #fff;
  font-size: 0.75em;
  font-weight: 100;
  border-radius: 1em;
  text-align: center;
  line-height: 1;
  min-height: 2em;
  height: 100%;
  min-width: 2em;
  width: 100%;
  padding: 0.5em;
  transform: rotate(0.5);
}
