<article>
  <hr>
  <h2>Toppings</h2>
  <ul class="sorting">
    <li>sort toppings:</li>
    <li><a ng-click="fSorting('price')">price</a></li>
    <li><a ng-click="fSorting('type')">type</a></li>
  </ul>
  <table>
    <thead>
      <tr>
        <th>Ingredient Name</th>
        <th>Whole Pie</th>
        <th>Left Side</th>
        <th>Right Side</th>
        <th>Clear</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="topping in toppings | orderBy:predicate:reverse" class="{{topping.type}}">
        <th class="align left">{{topping.name}}</th>
        <!-- <th>{{topping.name}} - {{topping.id}}/{{$index}}</th> -->
        <td>
          <label>{{topping.price[0]}}
          <input type="radio" 
            ng-model="topping.layout" 
            ng-change="fToppingModify(1,topping.seoname)" 
            value="1"
            name="{{topping.id}}" 
            id="{{topping.id}}Whole">
          </label>
        </td>
        <td>
          <label>{{topping.price[1]}}
          <input type="radio" 
            ng-model="topping.layout" 
            ng-change="fToppingModify(2,topping.seoname)" 
            value="2"
            name="{{topping.id}}" 
            id="{{topping.id}}Left">
          </label>
        </td>
        <td>
          <label>{{topping.price[1]}}
          <input type="radio" 
            ng-model="topping.layout" 
            ng-change="fToppingModify(3,topping.seoname)" 
            value="3"
            name="{{topping.id}}" 
            id="{{topping.id}}Right">
          </label>
        </td>
        <td>
          <label>None
          <input type="radio" 
            ng-model="topping.layout" 
            ng-change="fToppingModify(0,topping.seoname)" 
            value="0"
            name="{{topping.id}}" 
            id="{{topping.id}}None" 
            checked="checked">
          </label>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <!-- <tr>
        <th>Pizza base price of 
          <select 
            name="myPizza.size" 
            ng-model="myPizza.size" 
            ng-options="item.label for item in sizes"></select>
         {{units}} pizza</th>
        <td colspan="3" align="center">
          ${{myPizza.size.baseprice}}
        </td>
      </tr> -->
      <tr>
        <th rowspan="2">Topping price</th>
        <th>Whole</th>
        <th>Left</th>
        <th>Right</th>
      </tr>
      <tr>
        <td><span>{{myPizza.toppings.whole.price}}</span></td>
        <td><span>{{myPizza.toppings.left.price}}</span></td>
        <td><span>{{myPizza.toppings.right.price}}</span></td>
      </tr>
      <tr>
        <th>Subtotal</th>
        <!-- <td colspan="3">${{fPizzaSubtotal()}}</td> -->
      </tr>
      <tr>
        <th>Tax</th>
        <!-- <td colspan="3">${{fPizzaTax()}}</td> -->
      </tr>
      <tr>
        <th>Total</th>
        <!-- <td colspan="3">${{fPizzaTotal()}}</td> -->
      </tr>
    </tfoot>
  </table>
  <h3>Toppings Data Models</h3>
  <table>
    <tr>
      <th>myPizza</th>
      <th>myPizza.size</th>
      <th>myPizza.toppings</th>
    </tr>
    <tr>
      <td><pre>{{myPizza|json}}</pre></td>
      <td><pre>{{myPizza.size|json}}</pre></td>
      <td><pre>{{myPizza.toppings|json}}</pre></td>
    </tr>
  </table>
  <!-- <h3>Toppings</h3> -->
  <!-- <ul> -->
    <!-- <li ng-repeat="item in myPizza.toppings">{{item.name}} ({{item.id}}) - {{item.layout}} - {{fToppingPrice(item.layout,item.seoname)}}</li> -->
  <!-- </ul> -->
  <!-- <h3>Layout</h3> -->
  <!-- <ul> -->
    <!-- <li ng-repeat="item in myPizza.toppings">{{item.name}} ({{item.id}}) - {{item.layout}} - {{fToppingPrice(item.layout,item.seoname)}}</li> -->
  <!-- </ul> -->
</article>
