<article>
  <hr>
  <h2>Toppings</h2>
  <table>
    <thead>
      <tr>
        <th>Ingredient Name</th>
        <th>Whole Pie</th>
        <th>Left Side</th>
        <th>Right Side</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="topping in toppings" class="{{topping.attributes[0]}}">
        <th>{{topping.name}} -- {{$index}}</th>
        <td>
          <label>{{topping.price[0]}}
          <input type="radio" 
            ng-model="myPizza.toppings.whole[topping.id]" 
            ng-change="fToppingLayout(1,topping.id)" 
            name="{{topping.id}}" 
            id="{{topping.id}}Whole">
          </label>
        </td>
        <td>
          <label>{{topping.price[1]}}
          <input type="radio" 
            ng-model="myPizza.toppings.left[topping.id]" 
            ng-change="fToppingLayout(2,topping.id)" 
            name="{{topping.id}}" 
            id="{{topping.id}}Left">
          </label>
        </td>
        <td>
          <label>{{topping.price[1]}}
          <input type="radio" 
            ng-model="myPizza.toppings.right[topping.id]" 
            ng-change="fToppingLayout(3,topping.id)" 
            name="{{topping.id}}" 
            id="{{topping.id}}Right">
          </label>
        </td>
        <td>
          <label>None
          <input type="radio" 
            ng-model="myPizza.toppings.none[topping.id]" 
            ng-change="fToppingLayout(3,topping.id)" 
            name="{{topping.id}}" 
            id="{{topping.id}}None" 
            checked="checked">
          </label>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Pizza base price of 
          <select 
            name="myCost" 
            ng-model="myCost" 
            ng-options="c.label for c in sizes"></select>
         {{units}} pizza</th>
        <td colspan="3" align="center">
          ${{myCost.value}}
        </td>
      </tr>
      <tr>
        <th rowspan="2">Topping price</th>
        <th>Whole</th>
        <th>Left</th>
        <th>Right</th>
      </tr>
      <tr>
        <td><span>{{myPizza.toppings.whole.price}}</span></td>
        <td><span>{{myPizza.toppings.left.price}}</span></td>
        <td><span>{{myPizza.toppings.right.price}}</span></td>
      </tr>
      <tr>
        <th>Subtotal</th>
        <td colspan="3">{{cost.subtotal}}</td>
      </tr>
      <tr>
        <th>Total</th>
        <td colspan="3">{{cost.total}}</td>
      </tr>
    </tfoot>
  </table>
  <h3>Toppings Data Models</h3>
  <dl>
    <dt>myPizza</dt><dd>{{myPizza}}</dd>
  </dl>
</article>
